<!DOCTYPE html>
<html>
<head>
  <title>{{novelTitle}}</title>
  <style>
    body { font-family: Arial, sans-serif; margin: 40px; }
    h1 { text-align: center; }
    h2 { margin-top: 40px; text-align: center; font-size: 20px; }
    p { margin-top: 20px; line-height: 1.6; }
  </style>
</head>
<body>
  <h1>{{novelTitle}}</h1>
  <h2>Author: {{author}}</h2>
  <div id="chapter">
    {{#chapters}}
      <p><b>{{chapterTitle}}</b></p>
      <div>{{{chapterContent}}}</div>
    {{/chapters}}
  </div>
</body>
</html>
